<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiSence</title>
    <link rel="icon" href="icon.svg">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div >
        <nav class="navbar fixed-top  navbar-expand-lg navbar-light navhome" style="background-color: rgb(255, 253, 253);">
            <a class="navbar-brand " href="/readmore" ><span class="navbrand"><span style="color: rgb(41, 145, 9);">Di</span>Sence</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0 uul" >
                <li class="nav-item ">
                  <a class="nav-link" href="/"><span class="navkey">Home</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services"><span class="navkey" >Detector</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="jumbotron jumbotron-fluid frontface" style="background-color: white;" >
        <div class="container">
        <div class="row" style="margin-top: 40px;">
         

                  <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 120px; margin-bottom: 50px;">
                    <div class="container">
                      <img src="growingtree.gif" alt="home" style=" float: right;  width:100%; height: auto; margin-bottom: 20px;">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 120px; margin-bottom: 50px;" > 
                    <div class="container">
                        <h2 style="color: rgb(0, 0, 0); font-weight: 800; text-transform: capitalize;">welcome !!</h2>
                        <h1 style="text-transform: capitalize; color: rgb(41, 145, 9);; font-weight: 800; letter-spacing: 2px; font-size: 55px;"  >Di<span style="color: black;">Sence</span></h1>
                        <p style="font-weight: 400; color: rgb(0, 0, 0);" > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum blanditiis error beatae, cum quis harum et debitis ad illo provident architecto in accusamus reiciendis? Voluptatem quibusdam odit nulla, autem doloremque blanditiis atque quis est vel earum quia tenetur commodi provident dolores quidem ullam. Reiciendis corporis neque labore incidunt sequi nihil!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque reiciendis ea quis, doloribus animi asperiores voluptates facere hic similique nostrum.</p>
                        <button type="submit" class="btn btn-outline-dark" style="transition: 0.4s;">Submit</button>
                    </div>
                </div>
                
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>

  <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:20px;">
    <footer class="page-footer font-small unique-color-dark " style="background: black; margin-top: 100px;">
        <div class="container text-center text-md-left mt-5">
          <br>
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold" style="color: #fff;text-align: center;">Main Features!!!</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <div style="text-align: center; color: white;">
              <p style="color: white; font-size: large;">Lorem, ipsum.</p>
              <p style="color: white; font-size: large;">Lorem, ipsum.</p>
              <p style="color: white; font-size: large;">Lorem, ipsum.</p>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold" style="color: #fff; text-align: center;">Contact</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <p style="color: #fff; text-align: center;">disence@gmail.com</p>
              </p>
              <p>
                <p style="color: #fff; text-align: center;">+91 9876543210</p>
              </p>
    
            </div>
    
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase font-weight-bold" style="color: #fff;text-align: center;">Address</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              
              <p style="color: #fff; text-align: center;">
               
                Amrita Vishwa Vidyapeetham , Amritapuri Campus Area ,<br>
               Shivam Block ,<br> Kerala , INDIA.</p>
    
            </div>
          </div>
        </div>
        <div class="footer-copyright text-center py-3" style="color: #fff;">© 2021 Copyright:
          <a href="http://igkishore.github.io/" style="color: #fff;"> DiSence</a>
        </div>
      </footer>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>